/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@font-face {
    font-family: 'Romana Bold';
    src: url('../fonts/RomanaBT-Bold.otf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-image: url("../img/Achtergrond.png"); 
    background-size: 400px auto;
    overflow-x: hidden;
    height: 100vh;
}

img { 
    display: block; 
    position: absolute; 
}

.scroll {
    width: 650vw;
    height: 100vh !important;
    position: fixed;
}

.blue { 
    width: 120vw;
    height: 100vh; 
    top: 0; 
    z-index: -1;
}

.rose { 
    width: 100vw;
    height: 100vh; 
    top: 0; 
    left: 180vw; 
}

.table-1 { 
    width: 80vw;
    height: 100vh; 
    top: 0; 
    left: 260vw; 
}

.yellow { 
    width: 100vw;
    height: 100vh; 
    top: 0; 
    left: 320vw; 
}

.table-2 { 
    width: 100vw;
    height: 100vh; 
    top: 0; 
    left: 400vw; 
    z-index: -1; 
}

.green { 
    width: 100vw;
    height: 100vh; 
    top: 0; 
    left: 480vw; 
    z-index: -2; 
}

@media screen and (min-height: 0px)
    and (max-height: 660px) {
    .scroll { top: -40px; }
    .rose, .table-1, .yellow, .table-2, .green {
        margin-top: 40px;
    }
    section {
        margin-top: -40px !important;
    }
}

@media screen and (min-height: 800px) 
    {
    .scroll { top: 90px; }
    .rose, .table-1, .yellow, .table-2, .green {
        margin-top: -90px;
    }
}


/* STYLING CONTENT */

.title {
    display: inline-block;
    color: black;
    font-size: 18px;
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
}

.body-title {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.ready {
    position: absolute;
    right: 70px;
    bottom: 40px;
    color: white;
    font-size: 24px;
}

.names {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: white;
    font-size: 16px;
}

section {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: -90px;
    display: inline-block;
    vertical-align: top;
}

.container {
    padding: 200px 0px 0px 200px;
}

.container-1 {
    position: relative;
    margin-top: 200px;
    margin-left: 25vw;
    height: calc(100vh - 200px);
}