/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@font-face {
    font-family: 'Romana Bold';
    src: url('../fonts/RomanaBT-Bold.otf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-image: url("../img/Achtergrond.png"); 
    background-size: 400px auto;
    overflow-x: hidden;
    height: 100vh;
}

img { 
    display: block; 
    position: absolute; 
}

.scroll {
    /* Total width of all sections combined */
    width: 810vw;
    height: 100vh !important;
    position: fixed;
}

.blue { 
    width: 100%;
    height: 100vh; 
    top: 0; 
    z-index: -1;
}

.rose { 
    width: 100%;
    height: 100vh; 
    top: 0; 
    z-index: 0;
}

.table-1 { 
    width: 100%;
    height: 100vh; 
    top: 0; 
    z-index: 0;
}

.yellow { 
    width: 100%;
    height: 100vh; 
    top: 0; 
    z-index: 0;
}

.table-2 { 
    width: 100%;
    height: 100vh; 
    top: 0; 
    z-index: -1; 
}

.green { 
    width: 100%;
    height: 100vh; 
    top: 0; 
    z-index: -2; 
}

.button {
    border: 5px solid white;
    border-radius: 50px;
    position: fixed;
    top: 50px;
    left: 50px;
    display: inline-block;
    z-index: 300;
}

.button .side {
    color: white;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 50px;
    margin: -5px;
    text-decoration: none;
}

.button .side.active {
    background: white;
    color: black;
}

@media screen and (min-height: 0px)
    and (max-height: 660px) {
    .scroll { top: -40px; }
    section {
        margin-top: -40px !important;
    }
}

@media screen and (min-height: 800px) 
    {
    .scroll { top: 90px; }
}


/* STYLING CONTENT */

.title {
    display: inline-block;
    color: black;
    font-size: 18px;
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
}

.body-title {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.ready {
    position: absolute;
    right: 70px;
    bottom: 40px;
    color: white;
    font-size: 24px;
}

.names {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: white;
    font-size: 16px;
}

.container {
    padding: 200px 0px 0px 200px;
}

.container-1 {
    position: relative;
    margin-top: 200px;
    margin-left: 25vw;
    height: calc(100vh - 200px);
}

.container-2 {
    position: relative;
    margin-top: 200px;
    margin-left: 25vw;
    height: calc(100vh - 200px);
}

.container-3 {
    position: relative;
    margin-top: 200px;
    margin-left: 25vw;
    height: calc(100vh - 200px);
}

.container-4 {
    margin-left: 10vw;
    position: relative;
    margin-top: 200px;
    height: calc(100vh - 200px);
}

.container-5 {
    margin-left: 15vw;
    position: relative;
    height: calc(100vh - 200px);
}

.container-6 {
    margin-left: 15vw;
    position: relative;
    height: calc(100vh - 200px);
}

.container-7 {
    margin-left: 15vw;
    position: relative;
    height: calc(100vh - 200px);
}

.page {
    width: 120vw; 
    margin-left: -20vw;
    height: 100vh;
    position: relative;
    margin-top: -90px;
    display: inline-block;
    vertical-align: top;
}

.page[data-index="0"] {
    width: 100vw;
    margin-left: 0;
}

.page[data-index="2"] {
    margin-left: -23vw;
}

.page[data-index="3"] {
    width: 100vw;
}

.page[data-index="4"] {
    width: 100vw;
}

.page[data-index="6"] {
    width: 180vw;
}

.page[data-index="7"] {
    width: 110vw;
}