@font-face {
    font-family: 'Cafe Francoise';
    src: url('../fonts/Cafe\ Francoise_D.otf');
}

body {
    margin: 0;
    background-image: url("../img/Achtergrond.png"); 
    background-size: 400px auto;
    overflow-x: hidden;
    height: 100%;
}

img, div { 
    display: block; 
    position: absolute; 
}

.scroll {
    width: 13680px;
    height: 600px !important;
    position: fixed;
}

.blue { 
    width: 2400px; 
    height: 100vh; 
    top: 0; 
    left: 1460px; 
}

.rose { 
    width: 1600px; 
    height: 100vh; 
    top: 0; 
    left: 3550px; 
}

.table-1 { 
    width: 1600px; 
    height: 100vh; 
    top: 0; 
    left: 4900px; 
}

.yellow { 
    width: 2200px; 
    height: 100vh; 
    top: 0; 
    left: 6300px; }

.table-2 { 
    width: 1960px; 
    height: 100vh; 
    top: 0; 
    left: 8000px; 
    z-index: -1; 
}

.green { 
    width: 2400px; 
    height: 100vh; 
    top: 0; 
    left: 9700px; 
    z-index: -2; 
}

@media screen and (min-height: 0px)
    and (max-height: 660px) {
    .scroll { top: -40px; }
    .blue, .rose, .table-1, .yellow, .table-2, .green {
        margin-top: 40px;
    }
}

@media screen and (min-height: 800px) 
    {
    .scroll { top: 90px; }
    .blue, .rose, .table-1, .yellow, .table-2, .green {
        margin-top: -90px;
    }
}

* {
    font-family: Cafe Francoise;
}

.title {
    color: black;
    font-size: 18px;
    margin: 150px 0px 0px 250px;
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.21);
}

.body-title {
    margin: 430px 0px 0px 333px;
    font-size: 20px;
    color: white;
}

.ready {
    color:white;
    margin: 750px 0px 0px 1560px;
    font-size: 24px;
}